<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Title</title>
</head>

<body>

<div class="toc">
<span class="toc_el">First title</span>
<span class="toc_el">Second title</span>
<span class="toc_el">Third title</span>
</div>

<h1 id="title">Original title</h1>
<p id="paragraf">laks fl <a href="image.jpg">saflasdlf</a> ksaldf jaslfj
lsafj lasfjlasflasflkas flas flj aslfkj aslfj aslfj lsafj l asldf a</p>

</body>

</html>