<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Test #3</title>
</head>

<body>

<h1 id="title">Test #3</h1>
<p id="paragraph">The purpose of this is test to show that your links
to relative paths inside the template will be translated correctly
in order to show images and other elements although we have changed
the path of the template to thus of the 'templated' php code.</p>

<p>You should see here the php logo:<br/><img src="images/phplogo.gif"></p>

</body>

</html>